$bg-color: #f1f1f1;
$primary-color: #0F6AB4;
$dark-color: black;
$grey-color: #c4c4c4;


ion-back-button {
    color: $dark-color !important;
}

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

ion-item{
    border-right: $dark-color solid 2px;
    border-left: $dark-color solid 2px;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

#image {
    width: 100%;
    height: 40%;
    margin: 0 auto;
    text-align: center;
    margin-top: 1.5em;
    img{
        width: 70%;
        height: auto;
        max-height: 100%;
        max-width: 70%;
        border-radius: 15%;
        border: $dark-color solid 3px;
    }
}

#information{
    width: 100%;
    height: 30%;
    p{
        font-weight: bold;
        font-size: 1.1em;
        padding-left: 0.5em;
        padding-top: 1em;
        border-top: $grey-color solid 2px;
    }
}

.itemTop{
    border-top: $dark-color solid 2px;
}

.itemMiddle{
    border-top: $dark-color solid 2px;
}

.itemLower{
    border-top: $dark-color solid 2px;
    border-bottom: $dark-color solid 2px;
}

.numberLabels{
    margin-right: 0.5em;
}

