<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{'SUPERHERO' | translate }} {{positionCharacter}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="characterDetailed">
  <div id="image">
    <img [src]="characterDetailed.thumbnail.path + '.' + characterDetailed.thumbnail.extension">
  </div>

  <div id="information">
    <p>{{'ANOTHER INFO' | translate }}</p>
    <ion-item lines="none" class="itemTop">
      <ion-label>{{'NUMBER OF COMICS' | translate }}</ion-label>
      <ion-label class="numberLabels" slot="end">{{characterDetailed.comics.available}}</ion-label>
    </ion-item>
    <ion-item lines="none" class="itemMiddle"> 
      <ion-label>{{'NUMBER OF SERIES' | translate }}</ion-label>
      <ion-label class="numberLabels" slot="end">{{characterDetailed.series.available}}</ion-label>
    </ion-item>
    <ion-item lines="none" class="itemLower">
      <ion-label>{{'NUMBER OF EVENTS' | translate }}</ion-label>
      <ion-label class="numberLabels" slot="end">{{characterDetailed.stories.available}}</ion-label>
    </ion-item>
  </div>
</ion-content>