<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'SUPERHERO LIST' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngFor="let hero of listCharacters; let i = index " (click)="clickOnHero(hero.id, i)">
      <ion-thumbnail slot="start">
        <img [src]="hero.thumbnail.path + '.' + hero.thumbnail.extension">
      </ion-thumbnail>
      <ion-label>
        <p>{{hero.name}}</p>
      </ion-label>
    </ion-item>
</ion-content>