$bg-color: #f1f1f1;
$primary-color: #0F6AB4;

ion-item{
    --ion-item-background: transparent;
    background-color: $bg-color;
    border-top: $primary-color solid 1px;
    p{
        color: $primary-color;
        font-size: 1em;
        font-weight: bold;
    }
}

ion-thumbnail{
    border: $primary-color solid 2px;
    border-radius: 3px;
}

ion-list{
    background-color: $bg-color;
}
